<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdeusBGigarrBe-JqXU77VPk4y8wTn6Xs</string>
	<key>GCM_SENDER_ID</key>
	<string>608175581486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GrassMoss.WatermelonClicker</string>
	<key>PROJECT_ID</key>
	<string>watermelon-clicker</string>
	<key>STORAGE_BUCKET</key>
	<string>watermelon-clicker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608175581486:ios:5fd0e30654968245b2f2bf</string>
</dict>
</plist>